//Microsoft Developer Studio generated resource script.
//
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
ICON_1                  ICON    DISCARDABLE     "Explored.ico"
IDI_ICON3               ICON    DISCARDABLE     "Escript.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

MENU_MAIN MENU DISCARDABLE 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New",                        CM_FILENEW
        MENUITEM "&Open...",                    CM_FILEOPEN
        MENUITEM "&Save             Ctrl+S",    CM_FILESAVE
        MENUITEM "Save &As...",                 CM_FILESAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "&Print",                      CM_FILEPRINT, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       CM_FILEEXIT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_ACCELERATOR1 ACCELERATORS DISCARDABLE 
BEGIN
    "S",            CM_FILESAVE,            VIRTKEY, CONTROL, NOINVERT
END


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

WALL_BITMAP             BITMAP  DISCARDABLE     "bitmap1.bmp"
DOOR_BITMAP             BITMAP  DISCARDABLE     "bmp00001.bmp"
BLANK_BITMAP            BITMAP  DISCARDABLE     "bmp00002.bmp"

/////////////////////////////////////////////////////////////////////////////
